service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{id} {
      allow read: if true;
      allow write: if isAuth(request.auth);
    }
  }
}

function isAuth(auth) {
  return auth != null && auth.uid != null;
}
